// Custom styles.
.site-title {
  color: #444
}
.brand {
  border: 2px solid #333;
  background-image: url(http://ow5t5k2fx.bkt.clouddn.com/backimg2.jpg);
}
.headband {
  background-image: url(http://ow5t5k2fx.bkt.clouddn.com/backimg-nav.png);
}
.with-love {
  width : 40px;
  height: 57px;
  background-image: url(http://ow5t5k2fx.bkt.clouddn.com/footback.png);
}
.sidebar {
  background-image: url(http://ow5t5k2fx.bkt.clouddn.com/sidebar4.jpg);
}
.site-author-name {
  color: #444
}
.nav-number .nav-text{
  color: #555
}
